body{

    background-color: #10375C;
    height:100%;
    
    margin:0;
    display: flex;
    flex-direction: column;
}
html{
    height: 100%;
    margin: 0;
}
.title{
    font-size:50px;
    color: #EB8317;
    text-decoration: none;
    }
h1{
    text-align:center;
    font-family: sans-serif;

}
header {
  display: flex;
  justify-content: space-between; /* logo sola, menü sağa */
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, #10375C, #edf0fb);
  margin-left: 10px;
  margin-right: 10px;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
#enroll{
    padding:28px 9px;
    background-color:#F3C623 ; 
    color:darkblue; 
    border-radius: 100px; 
    position: absolute; 
    top:20px;
    right: 4%;
    font-size:16px;
    font-weight: bold;
    font-family: sans-serif;
    
}
#hdiv{
    border:none;
    height:130px;
    background-color: #10375C;
    position:sticky;
    top:0px;
}
.history{
    border-style: dotted;
    border-width: 3px;
    border-color:#10375C;
    margin-left: 15px;
    margin-right: 15px;
    padding: 8px;
}
.div1{
        margin-top:15px;
        margin-right: 10px;
        margin-left: 10px;
        padding: 15px;
    background-color: #edf0fb;
    flex:1;
}
.sublinks{
    color:#EB8317;
    margin: 15px;
    text-decoration: none;
}